<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<h1>List Categories</h1>
		<div>
			<a th:href=@{/category/new}> Create Category</a> &nbsp; <a
				th:href="@{/users/exportcsv}">Export Csv</a>
		</div>

		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>

		<form th:action=@{/users/page/1} class="form-inline"
			style="margin: 5px 0px">
			<input   
				type="search" required="required" name="keyword"
				th:value="${keyword}" class="form-control"
				placeholder="Enter First Name"> <input type="submit"
				value="search" class="btn btn-primary" />
		</form>
		<table class="table table-bordered">
			<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>Category Image</th>
					<th>
						<a class="text-white" th:href="@{'/categories?sortDirect=' + ${reversesortDirect}}"> Category Name </a>
						<span
							th:class = "${reversesortDirect == 'asc' ? 'fas  fa-sort-up' : 'fas  fa-sort-down'}"
					>
					</span>  
					</th>
					<th>Alias</th>
					<th>Enabled</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<th:block th:each="category : ${categories}">
					<tr>
						<td>[[${category.id}]]</td>
						<td><img th:if = ${category.image!=null} th:src = @{${category.photosImagePath}}  style="max-width: 100px"/> </td>
						<td>[[${category.name}]]</td>
						<td>[[${category.alias}]]</td>
						<td><a th:if="${category.enabled == true }"
							class="fas fa-check"
							th:href="@{'/category/'+${category.id} + '/enable/false'}"
							title="click"></a> <a th:if="${category.enabled == false }"
							class="fas fa-times-circle"
							th:href="@{'/category/'+${category.id} + '/enable/true'}"
							title="click"></a></td>
						<td><a class="fas fa-user-edit"
							th:href="@{'/category/edit/' +${category.id}}"
							title="edit category"></a> &nbsp; 
							<a th:if =${category.hasChild==false}
							class="fas fa-user-minus"
							th:href="@{'/category/delete/' + ${category.id}}"
							title="delete category"></a></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<div th:if="${totalElements <0}">
		<span> Not Element</span>
	  </div>
	<div th:if="${totalElements >0}">
				<ul class="pagination justify-content-center">
				  <li th:class="${currentPage ==1 ? 'page-item disabled' : 'page-item'}">
				  <a class="page-link" th:href="@{'/categories/page/1?sortDirect=' + ${sortDirect} }">First</a>
				  </li>  
				  <li th:class="${currentPage ==1 ? 'page-item disabled' : 'page-item'}">
				  <a class="page-link" th:href="@{'/categories/page/' + ${currentPage-1}+'?sortDirect=' + ${sortDirect} }">Previous</a></li>
				  <li th:class="${currentPage != element ? 'page-item' : 'page-item active' }" th:each="element : ${#numbers.sequence(1,totalPage)}">
				  <a class="page-link" th:href="@{'/categories/page/' + ${element} +'?sortDirect=' + ${sortDirect} } " >[[${element}]]</a>
				  </li>
				  <li th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item' }">
				  <a class="page-link" th:href="@{'/categories/page/' + ${currentPage+1}+'?sortDirect=' + ${sortDirect}  }">Next</a>
				  </li>
				  <li th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}">
				  <a class="page-link" th:href="@{'/categories/page/' + ${totalPage}+'?sortDirect=' + ${sortDirect} }">Last</a>
				  </li>
				</ul>
	</div>
</body>
</html>