<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = " fragments :: page_head(Users)">


</head>
<body>
<div class="container-fluid">
	<div th:replace = "navigation :: menu"></div>
	
	<h1>List Users</h1> 
	<div>
	<a th:href=@{/user/new}> Create User</a>
	&nbsp;
	<a th:href="@{/users/exportcsv}">Export Csv</a>
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>
	
			
	<form	th:action=@{/users/page/1} class="form-inline" style="margin:5px 0px">
	<input type="hidden" name="sortFiled" th:value="${sortFiled}"/>
	<input type="hidden" name ="sortDirect" th:value="${sortDirect}"/>
		<input type="search" required="required" name="keyword" th:value="${keyword}" class="form-control" placeholder="Enter First Name">
	
		<input type="submit" value="search" class = "btn btn-primary"/>
	</form>		
			
	<table class="table table-bordered table-hover table-responsive-xl">
	  
		<thead class="table-dark">
			<tr>
				<th> User ID </th>
				<th> Photo </th>
				<th> Email </th>
				
				<th> <a  th:if = "${sortFiled != 'firstName'}" class="text-white"
						th:href="@{'/users/page/' + ${currentPage} + '?sortFiled=firstName&sortDirect=' + ${sortDirect}}">   <!-- bat case khi ma chon filed khac ma chung direct  -->
						firstName 
						</a>
						<a  th:if = "${sortFiled == 'firstName'}"  class="text-white"
						th:href="@{'/users/page/' + ${currentPage} + '?sortFiled=firstName&sortDirect=' + ${reverseSortDirect}}"> <!-- bat case doi huong -_- -->
						firstName 
						</a>
						
					<span th:if = "${sortFiled == 'firstName'}"
							th:class = "${sortDriect == 'asc' ? 'fas  fa-sort-up' : 'fas  fa-sort-down'}"
					>
					</span>  
				</th>
				<th> lastName </th>
				<th> Roles </th>
				<th> Enabled </th>
				<th> </th>
			 </tr>
		</thead>
		
		<tbody>
			<th:bolck th:each ="user : ${listUsers}"> 
				 <tr> 
				 	<td> [[${user.id}]]</td>
				 	<td> <span th:if=${user.photos==null} class="fa fa-portrait fa-4x"></span>
				 		<img th:if=${user.photos!=null} th:src="@{${user.photosImagePath}}" style="width:80px"/>
				 	</td>
				 	<td> [[${user.email}]]</td>
				 	<td> [[${user.firstName}]]</td>
				 	<td> [[${user.lastName}]]</td>
				 	<td> [[${user.roles}]]</td>
				 	<td> <a th:if="${user.enabled == true }" class="fas fa-check"
				 			th:href="@{'/user/'+${user.id} + '/enable/false'}"
				 			title="click"
				 	></a>
				 		<a th:if="${user.enabled == false }" class="fas fa-times-circle"
				 			th:href="@{'/user/'+${user.id} + '/enable/true'}"
				 			title="click"
				 		></a>
				 	</td>
				 	
				 	<td>
				 		<a class="fas fa-user-edit" th:href="@{'/user/edit/' +${user.id}}"
				 		title="edit user"
				 		></a>
				 	&nbsp; 
				 	 	<a class="fas fa-user-minus" th:href="@{'/user/delete/' + ${user.id}}"
				 	 	title="delete user"
				 	 	></a>
				 	
				 	</td>
				 </tr>
			</th:bolck>		
		</tbody>	
	</table>

</div>
	<div th:if="${totalElements <0}">
		<span> Not Element</span>
	  </div>
	<div th:if="${totalElements >0}">
				<ul class="pagination justify-content-center">
				  <li th:class="${currentPage ==1 ? 'page-item disabled' : 'page-item'}">
				  <a class="page-link" th:href="@{'/users/page/1?sortFiled=' + ${sortFiled}+ '&sortDirect=' + ${sortDirect} + ${keyword != null ? '&keyword=' + keyword :'' }}">First</a>
				  </li>  
				  <li th:class="${currentPage ==1 ? 'page-item disabled' : 'page-item'}">
				  <a class="page-link" th:href="@{'/users/page/' + ${currentPage-1}+'?sortFiled='+${sortFiled}+ '&sortDirect=' + ${sortDirect} + ${keyword != null ? '&keyword=' + keyword :'' }}">Previous</a></li>
				  <li th:class="${currentPage != element ? 'page-item' : 'page-item active' }" th:each="element : ${#numbers.sequence(1,totalPage)}">
				  <a class="page-link" th:href="@{'/users/page/' + ${element}+'?sortFiled='+${sortFiled}+ '&sortDirect=' + ${sortDirect} + ${keyword != null ? '&keyword=' + keyword :'' } }">[[${element}]]</a>
				  </li>
				  <li th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item' }">
				  <a class="page-link" th:href="@{'/users/page/' + ${currentPage+1}+'?sortFiled='+${sortFiled}+ '&sortDirect=' + ${sortDirect} + ${keyword != null ? '&keyword=' + keyword :'' } }">Next</a>
				  </li>
				  <li th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}">
				  <a class="page-link" th:href="@{'/users/page/' + ${totalPage}+'?sortFiled='+${sortFiled}+ '&sortDirect=' + ${sortDirect} + ${keyword != null ? '&keyword=' + keyword :'' } }">Last</a>
				  </li>
				</ul>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		<!-- logout -->
		$("#logoutLink").on("click",function(e){
			e.preventDefault();
			document.LogoutForm.submit();
		});
		
		customizeDropDownMenu();
	});
	
	
	<!-- xu ly click full name redirect to controller -->
	function customizeDropDownMenu(){
		$(".navbar .dropdown").hover(
				function(){
					$(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
				},
				function(){
					$(this).find('.dropdown-menu').first().stop(true,true).delay(250).slideUp();
				} 
			);
		
		$(".dropdown > a").click(function(){
			location.href = this.href;
		});
		
		
	}
</script>
</body>
</html>